<h1 align="center">Lista svih objava</h1>
<div align="center">
  <%= will_paginate previous_label: "« Prethodna", next_label: "Sledeća »" %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate previous_label: "« Prethodna", next_label: "Sledeća »" %>
</div>