<h1 align="center">O nama</h1>

<div class="row">
<div class="well col-xs-8 col-xs-offset-2">
  <div align="center">
  Kibitz Fenster predstavlja prezentaciju <%= link_to "objava", articles_path %> objedinjenih sa raznih društvenih mreža tokom niza godina.<br><br> Ove objave su zapravo
  prozor u dušu autora kroz koji vam ponizno dopušta da virnete.<br><br> Otuda i naziv prezentacije Kibitz Fenster.
  </div>
</div>
</div>

<div class="center"><%= link_to 'Glavna strana', root_path %></div>