<h2 align="center">Category details</h2>
<div class="well col-xs-8 col-xs-offset-2">
<h4 class="center description"><strong>Name:</strong></h4>
<div class="row">
  <div class="span-xs-8 center">
    <%= simple_format(@category.name) %>
  </div>
</div>
</div>