<div class="container">
  <div class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemu.com">The complete Ruby on Rails developer</a>
      by <a href="http://www.facebook.com/emajelejen">Milan Duka</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </div>
</div>